DATABASE_URL="file:./dev.db"

IP_HASH_SALT=CRYPTOGRAPHICALLY-GENERATED-SALT-FOR-HASHING-WITH-IP

SMTP_HOST=YOUR-SMTP-HOST
SMTP_PORT=YOUR-SMTP-PORT
SMTP_SECURE=true
SMTP_USER=USER@DOMAIN.TLD
SMTP_PASS=USER-PASSWORD

SMTP_FROM_NAME=USER-NAME
SMTP_FROM_EMAIL=USER@DOMAIN.TLD

NEXT_PUBLIC_APP_URL=http://localhost:3000

ADMIN_SECRET_TOKEN=YOUR-SECRET-TOKEN   # generate: openssl rand -hex 32
ADMIN_COOKIE_MAX_AGE=604800            # seconds — 604800 = 1 week